/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

html, body { height: 100%;}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.main-card {
    max-width: 1400px;

    background:#c5bcee;
    border-radius: 10px;
    padding: 30px;

    margin-top: 10px;
    
    // header{
    //     font-size: 34px;
    //     line-height: 34px;
    //     font-weight: 600;
    //     color: #232836;
    //     text-align: center;
    //     margin-bottom: 16px;

    // }

    // .inner {
    //     max-width: 1200px;
    //     margin: auto auto;
    // }
}


/* --- MDC-based slide toggle (Mat 16+) --- */


/* Snackbar background overrides */

/* Gray background */
/* Override snackbar surface background */
.mat-mdc-snack-bar-container.snack-bg-gray-900 .mdc-snackbar__surface {
  background-color: #111827 !important; // Tailwind bg-gray-900
  color: #ffffff !important;
}

/* Success */
.mat-mdc-snack-bar-container.snack-success .mdc-snackbar__surface {
  background-color: #e6fffa !important; // light teal
  color: #065f46 !important;
}

/* Error */
.mat-mdc-snack-bar-container.snack-error .mdc-snackbar__surface {
  background-color: #fee2e2 !important; // light red
  color: #991b1b !important;
}

/* Info */
.mat-mdc-snack-bar-container.snack-info .mdc-snackbar__surface {
  background-color: #dbeafe !important; // light blue
  color: #1e3a8a !important;
}

body.features-bg {
  background-color: #E6E3F4 !important;
}
