.container {
    background-color: var(--color-secondary-alt-2);
    overflow: auto;
}

thead {
    background-color: var(--color-secondary);
}

.main-content {
    &:hover {
        background-color: var(--color-secondary-alt-2);

    }
}

.expand-content {
    background-color: var(--color-secondary-light);
}