.example-spacer {
  flex: 1 1 auto;
}
/* Top Navigation */
.top-nav {
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 28px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  z-index: 100;
}

.logo {
  height: 25px;
  width: 150px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 2.5rem; // spacing between Guide and version
}


.nav-link {
  position: relative;
  text-decoration: none;
  font-size: 1.2rem;
  // font-weight: 500;
  color: var(--color-mid-dark);
  transition: color 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, var(--color-primary), var(--color-primary-light), var(--color-primary-alt));
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
  border-radius: 2px;
}

.nav-link:hover {
  color: #3f4095;
  text-shadow: 0 0 2px #6866c8;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.version-img {
  height: 30px;
  width: 100px;
}




.bg-img {
  background-image:
    linear-gradient(var(--overlay-white-25), var(--overlay-white-25)),
    /* white overlay with 50% opacity */
    url("../../assets/images/bg_2.png");
  min-height: 750px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-title {
  padding-top: 180px;
  font-size: 3.6rem;
  position: relative;
  color: var(--color-black);
  line-height: 1;

  //  margin-bottom: 0.5rem; /* reduce spacing below h1 */
}

.hero-desc {
  color: var(--color-black);
  font-size: 1.4rem;
  // margin-top: 0.25rem; /* reduce spacing above p */
}


.upload-section {
  margin-top: 2.2rem;
  display: flex;
  justify-content: center;

}

.drop-zone {
  border: 2px dashed var(--color-border-blue);
  background-color: var(--overlay-white-80);

  padding: 60px;
  border-radius: 8px;
  cursor: pointer;
  //background-color: rgba(255, 255, 255, 0.05);
  color: var(--color-black);
  width: 100%;
  max-width: 780px;
  transition: background-color 0.3s ease;
}

.drop-zone:hover {
  background-color: var(--overlay-white-90);
}

.file-input {
  display: none;
}

.upload_icon {
  font-size: 50px;
  /* Controls icon size */
  height: 50px;
  /* Optional for layout consistency */
  width: 50px;
  /* Optional for layout consistency */
  color: var(--color-gray);
  /* Optional: custom color */
}


.features-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;

  .feature-section {
    display: flex;
    justify-content: center;

    .feature-card {
      display: flex;
      flex-wrap: wrap; // allow wrap for responsiveness
      align-items: center;
      gap: 2rem;
      max-width: 1200px; // keeps layout neat
      width: 100%;

      .feature-text {
        flex: 1 1 50%; // max 2 columns
      }

      .feature-icon {
        flex: 1 1 50%; // max 2 columns
        text-align: center;

        img {
          max-width: 200px;
          height: auto;
        }
      }

      &.reverse {
        flex-direction: row-reverse; // flip text & icon order
      }
    }
  }
}

.tag {
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--color-gray);
  text-transform: uppercase;
}

.learn-btn {
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  border: 1px solid var(--color-mid-dark);
  border-radius: 8px;
  background: none;
  cursor: pointer;
}




.footer {
  background-color: var(--color-footer-bg);
  color: var(--color-footer-text);
  height: 50px;
  display: flex;
  justify-content: space-between; // pushes logos left & copyright right
  align-items: center;
  padding: 0 2rem; // margin inside footer
}

.brand-image {
  display: none;
  align-items: center;
  width: 150px;
  height: 25px;
}

.logos {
  display: flex;
  gap: 0.75rem; // spacing between logos
  margin-left: 80px;
}

.copyright {
  font-size: 0.9rem;
   margin-right: 80px;
}




.upload-feedback {
  margin-top: 0.5rem;
  color: var(--color-success);
  /* a green to indicate success */
  font-weight: 500;
}



.card-title {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 0 0 1rem;
  line-height: 2.2rem;
  color: var(--color-dark);
}

.card-desc {
  font-size: 1.1rem;
  line-height: 1.6rem;
  margin: 0 0 1.5rem;
  color: var(--color-mid);
}


.product-info{
   padding: 0px 400px; 
   margin: 100px 0px;
}

@media (max-width: 1492px) {

  .product-info{
   padding: 0px 250px; 
   margin: 100px 0px;
}

}


@media (max-width: 1292px) {

  .product-info{
   padding: 0px 200px; 
   margin: 100px 0px;
}

.drop-zone {
  width: 100%;
  max-width: 680px;
}

.hero-title {
  font-size: 3.2rem;

}

.hero-desc {
  color: var(--color-black);
  font-size: 1.3rem;
}

}


@media (max-width: 992px) {

  .product-info{
   padding: 0px 130px; 
   margin: 100px 0px;
}

.drop-zone {
  width: 100%;
  max-width: 620px;
}

.hero-title {
  font-size: 3rem;

}

.hero-desc {
  color: var(--color-black);
  font-size: 1.2rem;
}

.feature-buttons{
margin-left: 30px;
margin-right: 30px;
}

}


@media (max-width: 882px) {

  .product-info{
   padding: 0px 90px; 
   margin: 100px 0px;
}

.drop-zone {
  width: 100%;
  max-width: 620px;
}

.hero-title {
  font-size: 3rem;

}

.hero-desc {
  color: var(--color-black);
  font-size: 1.2rem;
}

.feature-buttons{
margin-left: 30px;
margin-right: 30px;
}

}


@media (max-width: 790px) {

  .top-nav {

  padding: 28px 50px;

}

//   .product-info{
//    padding: 0px 90px; 
//    margin: 100px 0px;
// }

.drop-zone {
  width: 100%;
  max-width: 580px;
}

.hero-title {
  font-size: 3rem;

}

.hero-desc {
  color: var(--color-black);
  font-size: 1.2rem;
  // margin-top: 0.25rem; /* reduce spacing above p */
}

.feature-buttons{
margin-left: 30px;
margin-right: 30px;
}

.info-card-section{
  margin-left: auto;
  margin-right: auto;
}

.card-title {
  font-size: 2rem;
}

.card-desc {
  font-size: 1rem;

}

.info-img{
  display: none;
}

.logos {
  display: flex;
  gap: 0.75rem; // spacing between logos
  margin-left: 50px;
}

.copyright {
  font-size: 0.9rem;
   margin-right: 50px;
}

}

@media (max-width: 630px) {

  .top-nav {

  padding: 28px 40px;

}

.drop-zone {
  width: 100%;
  max-width: 480px;
}

.logos {
  margin-left: 30px;
}

.copyright {
   margin-right: 30px;
}

}


@media (max-width: 492px) {

  .top-nav {

  padding: 28px 30px;

}

.version-img{
  display: none;
}

.drop-zone {
  width: 100%;
  max-width: 400px;
  padding: 40px;

}

.logos {
  margin-left: 0px;
}

.copyright {
   margin-right: 0px;
   margin-top: 15px;
}

.brand-image{
  display: flex;
  align-items: center;
  width: 150px;
  height: 25px;
  margin-bottom: 15px;
  cursor:pointer
}

.footer{
  display:flexbox;
  flex-direction: column;
  height: auto;
  padding: 15px 0px;
  text-align: center;
}

.bg-img {
  min-height: 800px;
}


}



@media (max-width: 428px) {

  .hero-title {
  font-size: 2.8rem;

}

.hero-desc {
  color: var(--color-black);
  font-size: 1.1rem;
  // margin-top: 0.25rem; /* reduce spacing above p */
}

  .top-nav {

  padding: 28px 30px;

}

.version-img{
  display: none;
}

.drop-zone {
  width: 100%;
  max-width: 360px;
  padding: 36px;

}

.feature-buttons{
margin-left: 30px;
margin-right: 30px;
}

// .info-card{
//    align-items: center;
// }

.info-card-section{

  align-items: center;
}

.card-title {
  font-size: 1.6rem;
}

.card-desc {
  font-size: 0.9rem;

}

.logo {
  margin-left: 0px;
  height: 20px;
  width: 125px;
}

.nav-link{
  font-size: 1rem;
}

.upload-section{
  p{
  font-size: 0.9rem;
}
}

.copyright {
   margin-right: 0px;
   margin-top: 10px;
}

.brand-image{
  display: flex;
  align-items: center;
  width: 125px;
  height: 20px;
  margin-bottom: 15px;
}

.footer{
  font-size: 0.9rem;
  padding: 15px 0px;
}

.copyright {

   margin-top: 15px;
}

.bg-img {
  min-height: 850px;
}

}